/* Navbar Styling */
.navbar {
    background-image: url('https://i.pinimg.com/736x/53/5a/3a/535a3acf4b701918dbdbd61bbb058a22.jpg'); /* Replace with your actual image URL */
    background-size: cover; /* Ensures the image covers the navbar */
    background-position: center; /* Centers the image */
    height: 60px; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/* Container Styling */
.container {
    background-color: black; 
    color: white; 
    padding: 15px; 
    border: 3px solid red; 
    width: fit-content; 
    display: inline-flex;
}

.welcome-section{
border: 1px;
text-align: center;
height: 50vh;
display: flex;
flex-direction: column;
justify-content: center;

}
.blog-container{
border: 1px;
height: 100px;
width: 50px; ;
    grid-template-areas: "header";

}
